@media (max-width: 650px) {
    form, .result-container {
        width: 100% !important;
    }
}

@media (max-width: 497px) {
    .top-container, .bottom-group {
        flex-wrap: wrap;
    }
    .top-container button, .bottom-group button {
        width: 100% !important;
    }
    .top-container .metrics-container, .bottom-group .left-group {
        width: 100%;
        justify-content: space-between;
    }
    .top-container .metrics-container .metrics-block {
        width: 50%;
    }
    .dropdown-group .counter-container {
        width: 100% !important;
    }
}